meta {
    name: viewport;
    content: width=device-width, initial-scale=1.0;
}
@media (max-width: 1550px) {
    .about-me-pic img {
        height: 400px;
    }
    .about-me-pic {
        justify-content: center;
    }
    .about-me-info-greeting {
        font-size: 27px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1200px) {
    .landing-text-infos {
        padding-left: 7vh;
    }
    .landing-text-infos h1 {
        font-size: 47px;
    }
    .floating-photo {
        width: 300;
    }
    .about-container {
        flex-direction: column-reverse;
        margin-top: 7%;
    }
    .about-me {
        width: 100%;
    }
    .about-me-info-greeting {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .about-me-info p{
        font-size: 13px;
    }
    .about-me-pic {
        width: 100%;
        justify-content: center;
    }
    .about-me-title{
        align-self: center;
        font-size: 30px;
    }
    .about-me-pic img {
        height: 200px;
    }
    .about-me-tech {
        padding-left: 30px;
    }
    .about-me-knowledge, .about-me-familiar{
        font-size: 12px;
    }
    .about-me-knowledge{
        height: auto;
        margin-bottom: 5px;
        
     }
     .about-me-familiar {
        height: auto; 
        margin-top: 10px;
        margin-bottom: 5px;
     }
     .about-me-images img{
        width: 30px;
        height: 30px;
        border-radius: 10%;
        position: relative;
        margin-right: 30px;
        transition: transform 0.3s;
     }
    .project-card {
        height: 370px;
        width: 370px;
    }
    .project-card-description p, .project-card-description h4 {
        font-size: 15px;
    }
    .contact-container-form {
        width: 50%;
    }
    .info-name, .info-phonenumber {
        font-size: 20px; /* Adjusted font size */
        width: auto;
        justify-content: center;
    }
    .info-email {
        font-size: 27px;
        width: auto;
        justify-content: center;
    }
    .contact-info, .contact-socials {
        margin-top: 3%;
        margin-left: 5%;
    }
    .contact-info {
        justify-content: center;
    }
}


@media (max-width: 900px) {
    .nav-links li {
        padding: 0 10px;
    }
    .landing-text-infos {
        padding-left: 4vh;
    }
    .landing-text-infos h1 {
        font-size: 40px;
    }
    .landing-text-infos h4{
        font-size: 25px;
    }
    .floating-photo {
        width: 250px;
    }
    .animation-container {
        justify-content: center;
    }
    .projects-container-title {
        font-size: 40px;
    }
    .project-card {
        height: 340px;
        width: 330px;
    }
    .project-card-description p, .project-card-description h4 {
        font-size: 13.5px;
    }
    .project-card-tech img {
        width: 27px;
        height: 27px;
    }
    .project-card button {
        width: 180px;
        font-size: 18px;
    }
    .contact-container {
        width: 80%; 
    }
    .contact-container {
        flex-direction: column;
    }
    .info-name, .info-phonenumber {
        font-size: 0; 
        width: auto;
        justify-content: center;
    }
    .info-email {
        font-size: 20px;
        width: auto;
        justify-content: center;

    }
    .connect{
        font-size: 15px;
    }
    .contact-container-left {
        margin: 0;
    }
    .contact-container-right{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .images {
        margin: 0;
        justify-content: center;
        padding-top: 5px;
    }
    .images img{
        width: 30px;
        height: 30px;
    }
    
    .contact-container-form {
        width: 100%;
    }
    .contact-info, .contact-socials {
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .contact-info{
        height: 50%;
    }
    .contact-container-left h1 {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .landing-text {
        flex-direction: column-reverse;
    }
    .landing-text-infos h1 {
        font-size: 35px;
    }
    .landing-text-infos h4 {
        font-size: 28px;
    }
    .landing-text-infos{
        width: 100%;
        height: 40%;
        justify-content: normal;
        align-items: center;
    }
    .floating-photo {
        width: 350px;
        margin-top: 35%;
    }
    #landing br {
        display: none;
    }
    .animation-container {
        justify-content: center;
        width: 100%;
        height: 60%;
    }
    .about-me-title {
        font-size: 25px;
    }
    .about-me-info-greeting {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .about-me-info p {
        font-size: 12px;
    }
    .project-card {
        margin-bottom: 15px;
    }
    
    .projects-output {
        flex-direction: column;
    }
    .circle{
        display: none;
    }
    
    header {
        padding: 10px 1vh;
    }
    .nav-contact{
        font-size: 12px;
        padding: 3px;
    }
    .nav-links li{
        padding: 0 15px;
    }
    nav ul li a{
        font-size: 17px;
    }

    .logo {
        width: 120px;
        height: 80px;
        margin-left: 1vh;
    }
    .level{
        margin-left: 2.5vh;
        font-size: 1vh;
    }
    
    .images img{
        width: 20px;
        height: 20px;
    }
    
    .level span{
        font-size: 2vh;
    }
    .landing-info{
        padding-right: 1vh;
    }
    .landing-info img{
        height: 15px;
        width: 15px;
        margin: .5vh 1vh;
    }
    .images {
        margin: 0;
        height: 30px;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .logo {
        margin-right: 0;
    }
    header {
        flex-wrap: nowrap;
    }
    .images {
        height: 50px;
    }
    .about-me-info-greeting {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .about-me-info p {
        font-size: 11px;
    }
    .about-me-info {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about-me-images img {
        width: 22px;
        height: 22px;
    }
    .about-me-tech {
        padding: 20px;
    }
    .circle{
        display: none;
    }
    header{
        padding: 10px 1.5vh;
        justify-content: space-between;

    }
    nav ul li a{
        font-size: 14px;
    }
    .nav-links li {
        padding: 1px 9px;
    }
    button{
        font-size: 14px;
        padding: 3px 5px;
        margin-left: 5px;
    }
    .images input[type="button"] {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    
    .logo {
        width: 100px;
        height: 50px; 
        margin: 0;
    }
    .level{
        margin-left: 1vh;
        font-size: 1vh;
    }
    .landing-text-infos{
        padding-top: 3vh;
        padding-left: 2.5vh;
        font-size: 18px;
        width: 100%;
    }
    .landing-text-infos h1{
        font-size: 30px;
        margin-top: 10px;
    }
    .images{
        margin-top: 10px;
    }
    .images img{
        width: 20px;
        height: 20px;
        margin-right: ;
    }
    
    .level span{
        font-size: 2vh;
    }
    .landing-info{
        padding-right: 1vh;
        height: 40px;
    }
    .landing-info img{
        height: 15px;
        width: 15px;
        margin: .5vh .5vh;
    }
    .projects-container {
        align-items: center;
    }
    .project-card-description p, .project-card-description h4 {
        font-size: 12px;
    }
    .projects-container-title {
        font-size: 30px;
    }
    .project-card {
        width: 300px;
        height: 350px;
    }
    .contact-container-form {
        width: 100%; /* Adjusted width */
    }
    .contact-container {
        flex-direction: column;
    }
    .info-name, .info-phonenumber {
        font-size: 15px; /* Adjusted font size */
    }
    .info-email {
        font-size: 20px;
    }
    .connect{
        font-size: 15px;
    }
    .contact-container-left {
        margin: 0;
    }
    .contact-container-right{
        width: 100%;
    }
    .images {
        margin: 0;
        height: 30px;
    }
}

@media (max-width: 480px) {
    header{
        padding: 10px 1.5vh;
        justify-content: space-between;

    }
    nav ul li a{
        font-size: 10px;
    }
    .nav-links li {
        padding: 1px 5px;
    }
    button{
        font-size: 10px;
        padding: 3px 5px;
        margin-left: 5px;
    }
    .logo {
        width: 60px;
    }
    .landing-text {
        flex-direction: column-reverse;
    }
    .landing-text-infos h1 {
        font-size: 20px;
        margin-top: 10px;
    }
    .landing-text-infos h4 {
        font-size: 20px;
    }
    .landing-text-infos{
        width: 100%;
        height: 40%;
        justify-content: normal;
        align-items: center;
        padding: 10px;
        margin-top: 10px;
    }
    .floating-photo {
        width: 250px;
        margin-top: 35%;
    }
    
    .about-me-info-greeting {
        font-size: 15px;
        margin-bottom: 7px;
    }
    .about-me-title {
        font-size: 20px;
        margin-top: 5px;
    }
    .about-me-info p {
        font-size: 9px;
    }
    .about-me-info {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about-me-images img {
        width: 22px;
        height: 22px;
        margin-right: 7px;
    }
    .about-me-tech {
        padding: 20px;
    }
    .projects-container-title {
        font-size: 40px;
    }
    .projects-container-description {
        font-size: 13.5px;
    }
    .project-card {
        height: 340px;
        width: 330px;
    }
    .project-card-description p, .project-card-description h4 {
        font-size: 13.5px;
    }
    .project-card-tech img {
        width: 27px;
        height: 27px;
    }
    .project-card button {
        width: 180px;
        font-size: 18px;
    }
    .contact-container {
        flex-direction: column;
    }
    .info-name, .info-phonenumber {
        font-size: 15px; /* Adjusted font size */
    }
    .info-email {
        font-size: 15px;
    }
    .connect{
        font-size: 15px;
    }
    .contact-container-left {
        margin: 0;
    }
    .contact-container-right{
        width: 100%;
    }
    .images {
        margin: 0;
        height: 30px;
    }
}

@media (max-width: 320px) {
    .circle{
        display: none;
    }
    header{
        padding: 10px 1.5vh;
    }
    nav ul li a{
        font-size: 10px;
    }
    .nav-links li {
        padding: 1px 5px;
    }
    button{
        font-size: 10px;
        padding: 3px 5px;
        margin-left: 5px;
    }
    .images input[type="button"] {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    
    .logo {
        width: 50px;
        height: 50px; 
        margin: 0;
    }
    .level{
        margin-left: 1vh;
        font-size: 1vh;
    }
    .landing-text-infos h1{
        font-size: 30px;
        margin-top: 10px;
    }
    .images{
        margin-top: 10px;
    }
    .images img{
        width: 20px;
        height: 20px;
        /* margin-right: ; */
    }
    
    .level span{
        font-size: 2vh;
    }
    .landing-info{
        padding-right: 1vh;
        height: 40px;
    }
    .landing-info img{
        height: 15px;
        width: 15px;
        margin: .5vh .5vh;
    }
    .landing-text-infos h4 {
        font-size: 18px;
    }
    .landing-text-infos h1 {
        font-size: 18px;
    }
    .projects-container-title {
        font-size: 40px;
    }
    .projects-container-description {
        font-size: 11px;
        margin: 0;
    }
    .projects-output {
        margin-top: 10px;
    }
    .projects-container-title {
        font-size: 25px;
    }
    .project-card {
        width: 230px;
        height: 300px;
    }
    .project-card a {
        align-self: center;
    }
    .project-card-description p, .project-card-description h4 {
        font-size: 9px;
    }

    .project-card-tech img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .info-email, .info-phonenumber {
        font-size: 15px; 
    }
    .contact-container {
        flex-direction: column;
    }
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about, #projects, #contact{
    width: 100%;
}

section{
    height: 100vh;
    scroll-snap-type: y mandatory;
}

