@font-face {
    font-family: 'Sawarabi';
    src: url('font/Sawarabi.ttf') format('truetype');
    /* Add additional font formats if necessary for browser compatibility */
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-height: 100svh;
    min-height: 30%;
    background-color: #1a1a1d;
    font-family: 'Sawarabi', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23ebebeb' fill-opacity='0.06' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    color: white;
    margin: 0 auto; 
    scroll-snap-type: y mandatory;
    cursor: url('images/cursor1.png') 16 16, auto;
}
li, a, button{
    font-family: "Sawarabi", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10vh;
}
#landing{
    width: 100%;
    height: 100vh;
    position: relative;
}
.logo{
    margin-right: auto;
    height: 70px;
    cursor: pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 30px;
    transition: all 0.3s ease 0s;
}
.nav-links li:hover{
    transform: scale(1.2);
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: #c3073f;
}

button{
    padding: 9px 25px;
    margin-left: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: linear-gradient(to right, #6f2232 50%, white 50%); 
    background-size: 200% 100%;  
    transition: background-position 0.3s;
}
button:hover{
    background-color: white;
    background-position: -100% 0;
    color:#c3073f;
}

.landing-text{
    width: 100%;
    height: 74vh;
    display: flex;
    flex-direction: row;
}
.landing-text-infos{
    padding-left: 12vh;
    font-size: 30px;
    font-family: 'Sawarabi';
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-text-infos h1{
    font-size: 60px;
    margin-top: 20px;
    font-family: 'Sawarabi';

}

.landing-text-infos h1 span{
    color: #c3073f;
}

.landing-info{
    background: #6f2232;
    width: 100%;
    height: 80px;
    padding-right: 10vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    bottom: 0svh;
}
.landing-info img{
    height: 30px;
    width: 30px;
    margin: 1vh 3vh;
    border-radius: 10px;
    transition: transform 0.3s;
}
.landing-info img:hover{
    transform: scale(1.2);
}

.level{
    margin-right: auto;
    margin-left: 12vh;
    padding: 5px 0;
    font-family: "Sawarabi", sans-serif;
    font-size: 1.5vh;
}
.level span{
    font-weight: 600;
    font-size: 3vh;
    color:white;
}
.animation-container{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }

.images{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
}
.images img{
    width: 40px;
    height: 40px;
    border-radius: 10%;
    position: relative;
    margin-right: 30px;
    transition: transform 0.3s;
}
.images img:hover{
    transform: scale(1.2);
}

.images input[type="button"]{
    width: 180px;
    height: 50px;
    font-family: 'Sawarabi';
    font-size: 24px;
    color: white;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, #c3073f 50%, white 50%); 
    background-size: 200% 100%;  
    transition: transform 0.5s;
}   

.images input[type="button"]:hover{
    background-position: -100% 0;
    color: #1A1A1D;
}

meta {
    name: viewport;
    content: width=device-width, initial-scale=1.0;
}

@media (max-width: 1200px) {

}

/* @media (max-width: 1024px) {
    .logo {
        height: 60px; 
        margin: 5px;
    }

    .landing-text {
        width: 100%; 
    }
    .landing-text-infos {
        font-size: 20px;
    }

    .nav-contact{
        font-size: 2.5vh;
    }
    nav ul li a{
        font-size: 2.5vh;
    }
    .images img {
        width: 30px;
        height: 30px;
    }

    .images input[type="button"] {
        width: 120px;
        height: 40px;
        font-size: 18px;
    }

} */

@media (max-width: 900px) {

}

@media (max-width: 768px) {
    .circle{
        display: none;
    }
    header {
        padding: 10px 1vh;
    }
    .nav-contact{
        font-size: 12px;
        padding: 3px;
    }
    .nav-links li{
        padding: 0 15px;
    }
    nav ul li a{
        font-size: 20px;
    }

    .logo {
        width: 150px;
        height: 80px;
        margin-left: 1vh;
    }
    .level{
        margin-left: 2.5vh;
        font-size: 1vh;
    }
    .landing-text-infos{
        padding-top: 3vh;
        padding-left: 2.5vh;
        font-size: 18px;
        width: 100%;
    }
    .landing-text-infos h1{
        font-size: 30px;

    }
    .images img{
        width: 20px;
        height: 20px;
    }
    .animation-container{
        display: none;
    }
    .level span{
        font-size: 2vh;
    }
    .landing-info{
        padding-right: 1vh;
    }
    .landing-info img{
        height: 15px;
        width: 15px;
        margin: .5vh 1vh;
    }
}

@media (max-width: 600px) {
    .circle{
        display: none;
    }
    header{
        padding: 10px 1.5vh;
    }
    nav ul li a{
        font-size: 10px;
    }
    .nav-links li {
        padding: 1px 9px;
    }
    button{
        font-size: 10px;
        padding: 3px 5px;
        margin-left: 5px;
    }
    .images input[type="button"] {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    
    .logo {
        width: 70px;
        height: 50px; 
        margin: 0;
    }
    .level{
        margin-left: 1vh;
        font-size: 1vh;
    }
    .landing-text-infos{
        padding-top: 3vh;
        padding-left: 2.5vh;
        font-size: 18px;
        width: 100%;
    }
    .landing-text-infos h1{
        font-size: 30px;
        margin-top: 10px;
    }
    .images{
        margin-top: 10px;
    }
    .images img{
        width: 20px;
        height: 20px;
        margin-right: ;
    }
    .animation-container{
        display: none;
    }
    .level span{
        font-size: 2vh;
    }
    .landing-info{
        padding-right: 1vh;
        height: 40px;
    }
    .landing-info img{
        height: 15px;
        width: 15px;
        margin: .5vh .5vh;
    }
}

@media (max-width: 480px) {

}

@media (max-width: 320px) {
    .circle{
        display: none;
    }
    header{
        padding: 10px 1.5vh;
    }
    nav ul li a{
        font-size: 10px;
    }
    .nav-links li {
        padding: 1px 9px;
    }
    button{
        font-size: 10px;
        padding: 3px 5px;
        margin-left: 5px;
    }
    .images input[type="button"] {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    
    .logo {
        width: 70px;
        height: 50px; 
        margin: 0;
    }
    .level{
        margin-left: 1vh;
        font-size: 1vh;
    }
    .landing-text-infos{
        padding-top: 3vh;
        padding-left: 2.5vh;
        font-size: 18px;
        width: 100%;
    }
    .landing-text-infos h1{
        font-size: 30px;
        margin-top: 10px;
    }
    .images{
        margin-top: 10px;
    }
    .images img{
        width: 20px;
        height: 20px;
        margin-right: ;
    }
    .animation-container{
        display: none;
    }
    .level span{
        font-size: 2vh;
    }
    .landing-info{
        padding-right: 1vh;
        height: 40px;
    }
    .landing-info img{
        height: 15px;
        width: 15px;
        margin: .5vh .5vh;
    }
}
/* about */

#about, #projects, #contact{
    width: 100%;
}

section{
    height: 100vh;
    scroll-snap-type: y mandatory;
}